/* Page layout  */
/*.left_hand_frame { grid-area: left_hand_frame; }*/
/*.top_right_frame { grid-area: top_right_frame; }*/
/*.bottom_right_frame { grid-area: bottom_right_frame; }*/

/*.grid-container {*/
/*  display: grid;*/
/*  grid-template-areas:*/
/*    'left_hand_frame top_right_frame'*/
/*    'left_hand_frame bottom_right_frame';*/
/*  grid-gap: 10px;*/
/*  background-color: #2196F3;*/
/*  padding: 10px;*/
/*}*/

/*.grid-container > div {*/
/*  background-color: rgba(255, 255, 255, 0.8);*/
/*  text-align: center;*/
/*  padding: 20px 0;*/
/*  font-size: 10px;*/
/*}*/

/* drop down list  */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


